.order {
  margin-bottom: 32px;
  margin-top: 8px;
}

.header {
  font-size: 24px;
  margin-bottom: 8px;
  margin-right: 8px;
}

.datetime {
  font-size: 14px;
}

.sum {
  display: block;
  margin-top: 8px;
  font-size: 16px;

  span {
    font-weight: bold;
  }
}
