body {
  margin: 24px auto 64px;
  width: 800px;
  font-family: Arial, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 24px;
}

h2 {
  margin: 0 0 16px 0;
}

a {
  color: #4937d2;
  text-decoration: none;
  transition: .3s ease-in color;

  &:hover {
    color: #7465e6;
    transition: none;
  }
}

button {
  cursor: pointer;
}

.popup-content {
  padding: 16px;
  border-radius: 16px;
}

.popup-header {
  display: flex;
  justify-content: space-between;
}