.label {
  display: block;

  span {
    display: block;
  }
}

.button {
  border-radius: 8px;
  border: 1px solid #528e5c;
  color: #528e5c;
  padding: 8px 27px 9px;
  background: none;
  margin-bottom: 24px;

  &:hover {
    background-color: #eaf7ec;
  }
}
